/* Esercizio 1 */
/* .jumbotron h1.display-4{
    background-color: red;
} */

/* Esercizio 2 */
/* nav > span{
    background-color: red;
} */

/* Esercizio 3 */
/* .jumbotron a.font-weight-bold{
    background-color: red;
} */

/* Esercizio 4 */
/* .container .col-md-8 div:first-of-type{
    background-color: red;
} */

/* Esercizio 5 */
/* .col-md-8:first-child hr{
    background: red;
} */

/* Esercizio 6 */
/* nav span:nth-of-type(even){
    background-color: red;
} */

/* Esercizio 7 */
/* .p-4 .list-unstyled.mb-0 > li{
    background-color: red;
} */

/* Esercizio 8 */
/* .blog-post:nth-of-type(2) .blog-post-meta a{
    background-color: red;
} */

/* Esercizio 9 */
/* .blog-post:nth-of-type(3) ul > li:nth-of-type(2){
    background-color: red;
} */

/* Esercizio 10 */
/* body > a:last-of-type{
    background-color: red;
} */

/* Esercizio 11 */
/* nav.blog-pagination > a:last-of-type{
    background-color: red;
} */

/* Esercizio 12 */
/* footer a:last-of-type{
    background-color: red;
} */




